<!-- Based on designs by Jason Zigrino (https://dribbble.com/JasonZigrino) and Himateja (https://codepen.io/Himateja) -->
<head>
	<link href="login.css" rel="stylesheet" type="text/css">
</head>

<!-- Based on designs by Jason Zigrino (https://dribbble.com/JasonZigrino) and Himateja (https://codepen.io/Himateja) -->
<header>
    <img src="https://cdn.rawgit.com/o2r-project/o2r-platform/master/client/img/o2r-logo-only-white.svg" />
</header>
<div class="login">
    <div class="photo">
    </div>
    <span>Sign in to a test account using OAuth2</span>

    <div id="login-form">
        <form action="/login" method="post">
            <input name="username" type="hidden" value="o2r-author" />
            <input name="password" type="hidden" value="secretauthor1" />
            <button id="regular" type="submit" ripple>User</button>
            <span>Level<sup><a href="http://o2r.info/o2r-web-api/user/#user-levels">?</a></sup>: <code>100</code> | <a href="https://orcid.org"><img alt="ORCID logo" src="https://orcid.org/sites/default/files/images/orcid_16x16.png" width="16" height="16" hspace="4" /></a> <a href="https://sandbox.orcid.org/0000-0001-6225-344X">https://sandbox.orcid.org/0000-0001-6225-344X</a></span>
        </form>

        <form action="/login" method="post">
            <input name="username" type="hidden" value="o2r-editor" />
            <input name="password" type="hidden" value="secreteditor2" />
            <button id="editor" type="submit" ripple>Editor</button>
            <span>Level<sup><a href="http://o2r.info/o2r-web-api/user/#user-levels">?</a></sup>: <code>500</code> | <a href="https://orcid.org"><img alt="ORCID logo" src="https://orcid.org/sites/default/files/images/orcid_16x16.png" width="16" height="16" hspace="4" /></a> <a href="https://sandbox.orcid.org/0000-0001-5930-4867">https://sandbox.orcid.org/0000-0001-5930-4867</a></span>
        </form>

        <form action="/login" method="post">
            <input name="username" type="hidden" value="o2r-admin" />
            <input name="password" type="hidden" value="secretadmin3" />
            <button id="admin" type="submit" ripple>Admin</button>
            <span>Level<sup><a href="http://o2r.info/o2r-web-api/user/#user-levels">?</a></sup>: <code>1000</code> | <a href="https://orcid.org"><img alt="ORCID logo" src="https://orcid.org/sites/default/files/images/orcid_16x16.png" width="16" height="16" hspace="4" /></a> <a href="https://sandbox.orcid.org/0000-0002-1701-2564">https://sandbox.orcid.org/0000-0002-1701-2564</a></span>
        </form>
    </div>

    <footer><a href="http://o2r.info">About o2r</a></footer>
</div>

<p class="copyright">
    <span><a href="https://github.com/o2r-project/o2r-guestlister">o2r-guestlister</a> version <code>0.0.1</span>
</p>