<!-- Based on designs by Jason Zigrino (https://dribbble.com/JasonZigrino) and Himateja (https://codepen.io/Himateja) -->
<head>
	<link href="login.css" rel="stylesheet" type="text/css">
</head>
<header>
	<img src="https://cdn.rawgit.com/o2r-project/o2r-platform/master/client/img/o2r-logo-only-white.svg" />
</header>
<div class="login">
	<div class="photo">
	</div>
	<span>Sign in with your test account using OAuth2</span>
	<div id="login-form">
		<form action="/login" method="post">
			<input name="username" type="hidden" value="o2r-author" />
			<input name="password" type="hidden" value="secretauthor1" />
			<button id="regular" type="submit" ripple>Regular user</button>
		</form>

		<form action="/login" method="post">
			<input name="username" type="hidden" value="o2r-editor" />
			<input name="password" type="hidden" value="secreteditor2" />
			<button id="editor" type="submit" ripple>Editor user</button>
		</form>

		<form action="/login" method="post">
			<input name="username" type="hidden" value="o2r-admin" />
			<input name="password" type="hidden" value="secretadmin3" />
			<button id="admin" type="submit" ripple>Admin user</button>
		</form>
	</div>
	<footer><a href="http://o2r.info">About o2r</a></footer>
</div>

<p class="copyright">
	<span><a href="https://github.com/o2r-project/o2r-guestlister">o2r-guestlister</a> version <code>0.0.1</span>
</p>

